[global]
index = {{ bootstrap_pip_repository_url }}
index-url = {{ bootstrap_pip_repository_url_index|default(bootstrap_pip_repository_url) }}
{% if bootstrap_pip_ca_bundle_url is defined %}
cert = {{ bootstrap_pip_ca_trust_store }}/{{ bootstrap_pip_ca_bundle_url | basename }}
{% endif %}
{% if bootstrap_pip_trusted_host is defined %}
trusted-host = {{ bootstrap_pip_trusted_host }}
{% endif %}
